<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LinkProtocol</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/servlet/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registeration</display-name>
    <servlet-name>Registeration</servlet-name>
    <servlet-class>Registeration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeration</servlet-name>
    <url-pattern>/servlet/Registeration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Json1</display-name>
    <servlet-name>Json1</servlet-name>
    <servlet-class>Json1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Json1</servlet-name>
    <url-pattern>/Json1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchData</display-name>
    <servlet-name>FetchData</servlet-name>
    <servlet-class>FetchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchData</servlet-name>
    <url-pattern>/servlet/FetchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/servlet/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verify</display-name>
    <servlet-name>verify</servlet-name>
    <servlet-class>verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/servlet/verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>claim</display-name>
    <servlet-name>claim</servlet-name>
    <servlet-class>claim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>claim</servlet-name>
    <url-pattern>/servlet/claim</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finalservlet</display-name>
    <servlet-name>finalservlet</servlet-name>
    <servlet-class>finalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finalservlet</servlet-name>
    <url-pattern>/servlet/finalservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>finali</display-name>
    <servlet-name>finali</servlet-name>
    <servlet-class>finali</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>finali</servlet-name>
    <url-pattern>/servlet/finali</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datetime</display-name>
    <servlet-name>datetime</servlet-name>
    <servlet-class>datetime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datetime</servlet-name>
    <url-pattern>/Servlet/datetime</url-pattern>
  </servlet-mapping>
</web-app>